<!DOCTYPE html>
<html lang="en">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">	


<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

	<head>
		<title>P.I.G News</title>
	</head>
	<body>
		<div class="header">	
			<h1> | PIG News |</h1>
			<h4> positive. inspirational. good.</h4>
		</div>

		<div class="content">
		{{{ body }}}
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
	</body>
</html>