h1 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 56px;
	color: #333333;
}

h4 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	color: #333333;
}

h5 {
	display: inline-block;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-left: -30px;
}

a {
	position: relative;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	margin-left: -30px;
}

.addCommentsText {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	font-weight: bold;
}


.header {
	background-color: #ccffff;
	height: 150px;
	padding: 3px;
}

.image_div img {
	margin: 5px 0 0 20px;
	position: relative;
	float: left;
	width: 30%;
}

body {
	background-color: #FFE4E1;
}

ul {
  list-style-type: none;
  width: 90%,
  margin: auto;
}

li {
	margin: 15px auto;
	background-color: #fff1f0;
}

.moreNews {
	text-align: center;
}

.pigButton {
	margin: 20px 0 20px;
	background-color: #ccffff;
	border: none;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 5px 10px;
	font-family: 'Dosis', sans-serif;
}

button {
	background-color: #ccffff;
	border: none;
	color: #333333;
	text-decoration: none;
	font-size: 16px;
	padding: 5px 10px;
	font-family: 'Dosis', sans-serif;

}

.link {
	font-size: 24px;
}

.favorites {
	float: right;
}

.add_comments_div {
	margin: 5px auto;
	width: 100%;
	display: inline-block;
}

.expandedCommentsDiv {
	width: 100%;
	display: block;
	background-color: #fff1f0;
	margin-top: 10px;
}

.titleLinkDiv {
	position: relative;
	width: 60%;
	float: right;
}

.viewComments button{
	position: relative;
	display: inline-block;
	float: right;
	height: 20px;
	font-size: 8px;
}

.listComments {
	height: 30px;
	margin-bottom: 10px;
}

textarea {
	position: relative;
	resize: none;
	display: inline;
	margin-left: 23%;
    width: 500px;
	height: 100px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.submit {
	
}

.list {
	width: 80%;
}
