h1 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 56px;
	color: #333333;
}

h4 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	color: #333333;
}

h5 {
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

.link {
	text-align: center;
	font-family: 'Dosis', sans-serif;
}

.header {
	background-color: #ccffff;
	height: 150px;
	padding: 3px;
}

.image_div img {
	margin: 5px auto;
	display: block;
}

body {
	background-color: #FFE4E1;
}

ul {
  list-style-type: none;
  width: 90%,
  margin: auto;
}

li {
	margin: 10px auto;
	border: 1px solid black;
}

.moreNews {
	text-align: center;
}

.pigButton {
	margin: 20px 0 20px;
	background-color: #ccffff;
	border: none;
	color: #333333;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	padding: 5px 10px;
	font-family: 'Dosis', sans-serif;
}

.titleLinkDiv button {
	background-color: #ccffff;
	border: none;
	color: #333333;
	text-decoration: none;
	font-size: 16px;
	padding: 5px 10px;
	font-family: 'Dosis', sans-serif;
}

.favorites {
	float: right;
}

.add_comments_div,
.comments_div {
	margin: 5px auto;
	display: inline-block;
}